@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');


a {
	text-decoration: none;
	opacity: .6;
	padding: 60px;
	font-weight: bolder;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 1.4em;
}

a:hover {
	opacity: 1;
}

.container{
	width: 160px;
    position: relative;
    height: 36px;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
    cursor: pointer;
    float: left;
}
.container,#cost,#service{
    display: inline;
}
#cost,#service{
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
    height: 30px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height:1.5;
	font-size:1em;
}
#cost:hover,#service:hover{
    box-shadow: inset 0 0 0 3px #fff,
    0 0 0 4px #fff,
    3px -3px 30px #cbcecd, 
    -3px 3px 30px #8dc1dd;
    outline: none;
}

.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: .2em;
}

.inner-container:first-child {
	background: #e9e9e9;
	color: #a9a9a9;
}

.inner-container:nth-child(2) {
	background: dodgerblue;
	color: white;
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
	margin: auto;
}

.toggle:nth-child(1) {
	right: 0;
}
.statusHolder{
    width: inherit;
}
.mainContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top:5%;
    margin-left:10%;
    position: fixed;
    height:89%;
    width:89.5%;
    text-align: center;
    background-color:rgb(212, 212, 212);  
}

.statusHolder{
    height:60px;
    width:100%;
    margin-left: 40px;

}

.feedContent{
    margin-top:50px;
    position: absolute;
    margin-left: 100px;
    border-radius: 10px;
    width:80%;
    height:40px;
}
#postButton{
    background-color:#0000;
    color: #000;
}
#cost{
    margin-top:3px;
    position: relative;
    width: 70px;
    float:left;
}
#service{
    margin-top:3px;
    position: relative;
    width:55%;
    float: left;
}
.feeds{
    width:100%;
}
.postButton{
        width: 35px;
        height: 35px;
        border: 1px solid #cdcdcd;
        background: white;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        transition: width 0.2s ease-in-out;
}
.postButton:hover{
        width: 120px;
}
.line{
    width: 95%;
    margin-top:25px;
    margin-left: -10px;
    border: none;
    border-top: 1px solid #c3c3c3;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.postButton:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.btn-txt:hover{
    opacity: 1;
}

  