.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top:5%;
    margin-left:10%;
    position:absolute;
    height:89%;
    width:89.5%;
    text-align: center;
    background-color:rgb(197, 195, 195);  
}
.feedContent{
    position: absolute;
    margin-left: 100px;
    border-radius: 10px;
    width:80%;
    height:40px;
    background-color: rgb(243, 243, 243);
}
#feedInput{
    width: 80%;
}
#postButton{
    background-color:#0000;
    color: #000;
}