
.feedsContainer{
    position: relative;
    margin-top:20px;
    margin-left: -15px;
    border-radius: 10px;
    width:100%;
    list-style-type: none;
    height:50px;
    background-color: rgb(243, 243, 243);
    font-size: 15px;
    font-family:sans-serif;
}
.showFeeds{
    position: relative;
    height: 800px;
    overflow-x: hidden;
}
.feedsList{
    list-style-type: none;
    text-align: center;
}
p{
    margin-top:5px;
}
#name{
    margin-top: 7px;
    float: left;
    font-size: 10px;
}
#content{
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    font-size: 15px;
}
.profile{
    margin-top:5px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right:10px;
    width: 20px;
    height: 20px;
    float:left;
}
.loadFeedsButton{
    color: #444444;
    background: #F3F3F3;
    border: 1px rgb(218, 218, 218) solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
.loadFeedsButton:hover{
    background: rgb(235, 222, 222);
}
#timeStamp{
    float:right;
    position:relative;
    margin-right: 30px;
    font-size: 10px;
}
#rupeeSign{
    margin-top:-5px;
    margin-left: 5px;
    font-size: 9px;
}