.SideBar{
    margin-top: 61px;
    width:125px;
    background-color: #F6F2F2;
    height: 100%;
    position: fixed;
}
.sideList{
    text-align: left;
    margin-top:30px;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}
.elements{
    color: darkgrey;
    cursor: pointer;
   margin-top:40px; 
   margin-bottom: 40px;
    font-size:40px;
    list-style-type: none;
}
.elements :hover{
    color:black
}